/* body{
    background: #60a3bc !important;

} */
.container-info-login{
    padding-top: 100px;
    display: flex;
    justify-content: center;
    background: #60a3bc !important;
    min-height: 800px;
}
.user_card {
  
    height: 600px;
    width: 500px;
    margin-top: auto;
    margin-bottom: auto;
    background: #04343f;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;

}
.brand_logo_container {
    position: absolute;
    height: 170px;
    width: 170px;
    top: -75px;
    border-radius: 50%;
    background: #60a3bc;
    padding: 10px;
    margin-left: 30%;

}
.brand_logo {
    height: 150px;
    width: 150px;
    border-radius: 50%;
}

.form-signin{
    text-align: center;
   
}
.input-group-text {
    color: rgb(255, 255, 255) !important;
    border: 0 !important;
    border-radius: 0.25rem 0 0 0.25rem !important;
    
}
.form-lable{
    color: white;
    text-align: left;
    margin-left: 40px;
}
.btn-login{
    background: #c0392b !important;
    color: white !important;
    width: 80%;
    height: 50px;
    border-radius: 10px;
}
.form-bottom{
    color: rgb(255, 255, 255);
    text-align: left;
    margin-left: 40px;
}
