
.container-home{
    
    margin-top: 10vh;
    min-height: 90vh;
}

.home-btn{
    margin-top: 40px;
    
}
.btn-home-a{
    margin: 20px;
    background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);
   width: 600px;
   height: 90px;
   border: 1px;
   border-radius: 40px;
   font-size: 30px;
}
.home-content-ac{
    display: flex;
    justify-content: center;
}
.home-content-ab{
    display: flex;
    justify-content: center;
}