<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:mysql://localhost:3306/tnet_pro</property>
        <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="connection.username">hoandk</property>
        <property name="connection.password">hoandk</property>
        <mapping class="com.example.userservice.domain.Accounttransaction"/>
        <mapping class="com.example.userservice.domain.Address"/>
        <mapping class="com.example.userservice.domain.Agent"/>
        <mapping class="com.example.userservice.domain.Agentaddress"/>
        <mapping class="com.example.userservice.domain.Agentimg"/>
        <mapping class="com.example.userservice.domain.Agentinvoice"/>
        <mapping class="com.example.userservice.domain.Agentpayment"/>
        <mapping class="com.example.userservice.domain.Agentstaff"/>
        <mapping class="com.example.userservice.domain.Agenttransaction"/>
        <mapping class="com.example.userservice.domain.AppRole"/>
        <mapping class="com.example.userservice.domain.AppUser"/>
        <mapping class="com.example.userservice.domain.Area"/>
        <mapping class="com.example.userservice.domain.Bank"/>
        <mapping class="com.example.userservice.domain.Bankaccount"/>
        <mapping class="com.example.userservice.domain.Bankbranch"/>
        <mapping class="com.example.userservice.domain.Bankfee"/>
        <mapping class="com.example.userservice.domain.Banktransaction"/>
        <mapping class="com.example.userservice.domain.Batchjobstatus"/>
        <mapping class="com.example.userservice.domain.Businessunitsummary"/>
        <mapping class="com.example.userservice.domain.Bussinessunit"/>
        <mapping class="com.example.userservice.domain.Carmaker"/>
        <mapping class="com.example.userservice.domain.Cartype"/>
        <mapping class="com.example.userservice.domain.Chatobject"/>
        <mapping class="com.example.userservice.domain.City"/>
        <mapping class="com.example.userservice.domain.Citylocation"/>
        <mapping class="com.example.userservice.domain.Cityname"/>
        <mapping class="com.example.userservice.domain.Citypromotionprogram"/>
        <mapping class="com.example.userservice.domain.Collectedemail"/>
        <mapping class="com.example.userservice.domain.Collectedphone"/>
        <mapping class="com.example.userservice.domain.Company"/>
        <mapping class="com.example.userservice.domain.Companygroup"/>
        <mapping class="com.example.userservice.domain.Companyparkarea"/>
        <mapping class="com.example.userservice.domain.Country"/>
        <mapping class="com.example.userservice.domain.Countrybankfee"/>
        <mapping class="com.example.userservice.domain.Countryname"/>
        <mapping class="com.example.userservice.domain.Currentstatus"/>
        <mapping class="com.example.userservice.domain.Dailydriversummary"/>
        <mapping class="com.example.userservice.domain.District"/>
        <mapping class="com.example.userservice.domain.Districtname"/>
        <mapping class="com.example.userservice.domain.Document"/>
        <mapping class="com.example.userservice.domain.Driver"/>
        <mapping class="com.example.userservice.domain.Driverfarepointschema"/>
        <mapping class="com.example.userservice.domain.Driverfee"/>
        <mapping class="com.example.userservice.domain.Driverfeetable"/>
        <mapping class="com.example.userservice.domain.Driverfeetabledetail"/>
        <mapping class="com.example.userservice.domain.Drivergroupfieldpermission"/>
        <mapping class="com.example.userservice.domain.Driveronlinetime"/>
        <mapping class="com.example.userservice.domain.Driveronlinetimedetail"/>
        <mapping class="com.example.userservice.domain.Driverpromotioncode"/>
        <mapping class="com.example.userservice.domain.Driverratingpointschema"/>
        <mapping class="com.example.userservice.domain.Driverrewardschema"/>
        <mapping class="com.example.userservice.domain.Driverscreenpermission"/>
        <mapping class="com.example.userservice.domain.Driversellingtriprateschema"/>
        <mapping class="com.example.userservice.domain.Driverstatussummary"/>
        <mapping class="com.example.userservice.domain.Drivervehicle"/>
        <mapping class="com.example.userservice.domain.Estimatefareratehourschema"/>
        <mapping class="com.example.userservice.domain.Farerate"/>
        <mapping class="com.example.userservice.domain.Fareratepanel"/>
        <mapping class="com.example.userservice.domain.Favorite"/>
        <mapping class="com.example.userservice.domain.Feedback"/>
        <mapping class="com.example.userservice.domain.Feedbacktrace"/>
        <mapping class="com.example.userservice.domain.Financialyear"/>
        <mapping class="com.example.userservice.domain.Giftcode"/>
        <mapping class="com.example.userservice.domain.Groupfield"/>
        <mapping class="com.example.userservice.domain.Groupfieldpermission"/>
        <mapping class="com.example.userservice.domain.HibernateSequence"/>
        <mapping class="com.example.userservice.domain.Holidayfarerateschema"/>
        <mapping class="com.example.userservice.domain.Invitationlog"/>
        <mapping class="com.example.userservice.domain.Language"/>
        <mapping class="com.example.userservice.domain.Languagename"/>
        <mapping class="com.example.userservice.domain.Memberlevel"/>
        <mapping class="com.example.userservice.domain.Memberleveldetail"/>
        <mapping class="com.example.userservice.domain.Mobileoperator"/>
        <mapping class="com.example.userservice.domain.Monthlyagentsummary"/>
        <mapping class="com.example.userservice.domain.Monthlycompanysummary"/>
        <mapping class="com.example.userservice.domain.Monthlydriversummary"/>
        <mapping class="com.example.userservice.domain.Movingdirection"/>
        <mapping class="com.example.userservice.domain.Organization"/>
        <mapping class="com.example.userservice.domain.Organizationpromotion"/>
        <mapping class="com.example.userservice.domain.Partnerinvoice"/>
        <mapping class="com.example.userservice.domain.Partnerpayment"/>
        <mapping class="com.example.userservice.domain.Payment"/>
        <mapping class="com.example.userservice.domain.PersistentLogins"/>
        <mapping class="com.example.userservice.domain.Pickupdistanceratioschema"/>
        <mapping class="com.example.userservice.domain.Pointtotripschema"/>
        <mapping class="com.example.userservice.domain.Pricepanel"/>
        <mapping class="com.example.userservice.domain.Programdescription"/>
        <mapping class="com.example.userservice.domain.Promotioncode"/>
        <mapping class="com.example.userservice.domain.Promotionmessagecity"/>
        <mapping class="com.example.userservice.domain.Promotionmessages"/>
        <mapping class="com.example.userservice.domain.Promotionmessageslanguage"/>
        <mapping class="com.example.userservice.domain.Promotionprogram"/>
        <mapping class="com.example.userservice.domain.Promotiontrip"/>
        <mapping class="com.example.userservice.domain.Promotiontripdetail"/>
        <mapping class="com.example.userservice.domain.Promotiontripriders"/>
        <mapping class="com.example.userservice.domain.Proposedfarehourrateschema"/>
        <mapping class="com.example.userservice.domain.Proposedfaresateschema"/>
        <mapping class="com.example.userservice.domain.Proposedtripfarehistory"/>
        <mapping class="com.example.userservice.domain.Referencedata"/>
        <mapping class="com.example.userservice.domain.Relative"/>
        <mapping class="com.example.userservice.domain.Rentvehiclefaretables"/>
        <mapping class="com.example.userservice.domain.Resetpassword"/>
        <mapping class="com.example.userservice.domain.Rider"/>
        <mapping class="com.example.userservice.domain.Ridercities"/>
        <mapping class="com.example.userservice.domain.Ridergiftcode"/>
        <mapping class="com.example.userservice.domain.Riderlogintime"/>
        <mapping class="com.example.userservice.domain.Riderlogintimedetail"/>
        <mapping class="com.example.userservice.domain.Riderlogintimetracking"/>
        <mapping class="com.example.userservice.domain.Riderorder"/>
        <mapping class="com.example.userservice.domain.Riderorganization"/>
        <mapping class="com.example.userservice.domain.Riderpointhistory"/>
        <mapping class="com.example.userservice.domain.Riderpointschema"/>
        <mapping class="com.example.userservice.domain.Riderpromotioncode"/>
        <mapping class="com.example.userservice.domain.Riderstatussummary"/>
        <mapping class="com.example.userservice.domain.Ridertransaction"/>
        <mapping class="com.example.userservice.domain.Role"/>
        <mapping class="com.example.userservice.domain.Screen"/>
        <mapping class="com.example.userservice.domain.Screengroup"/>
        <mapping class="com.example.userservice.domain.Screenpermission"/>
        <mapping class="com.example.userservice.domain.Servicerating"/>
        <mapping class="com.example.userservice.domain.Smshistory"/>
        <mapping class="com.example.userservice.domain.Staff"/>
        <mapping class="com.example.userservice.domain.Staffbusinessunit"/>
        <mapping class="com.example.userservice.domain.Stoppoints"/>
        <mapping class="com.example.userservice.domain.Suppostnote"/>
        <mapping class="com.example.userservice.domain.Taxinetusers"/>
        <mapping class="com.example.userservice.domain.TnBlobTriggers"/>
        <mapping class="com.example.userservice.domain.TnCalendars"/>
        <mapping class="com.example.userservice.domain.TnCronTriggers"/>
        <mapping class="com.example.userservice.domain.TnFiredTriggers"/>
        <mapping class="com.example.userservice.domain.TnJobDetails"/>
        <mapping class="com.example.userservice.domain.TnLocks"/>
        <mapping class="com.example.userservice.domain.TnPausedTriggerGrps"/>
        <mapping class="com.example.userservice.domain.TnSchedulerState"/>
        <mapping class="com.example.userservice.domain.TnSimpleTriggers"/>
        <mapping class="com.example.userservice.domain.TnSimpropTriggers"/>
        <mapping class="com.example.userservice.domain.TnTriggers"/>
        <mapping class="com.example.userservice.domain.Transactionnote"/>
        <mapping class="com.example.userservice.domain.Trip"/>
        <mapping class="com.example.userservice.domain.Tripadjust"/>
        <mapping class="com.example.userservice.domain.Tripbiddingconfiguration"/>
        <mapping class="com.example.userservice.domain.Tripbiddinghistory"/>
        <mapping class="com.example.userservice.domain.Tripdetails"/>
        <mapping class="com.example.userservice.domain.Tripdriver"/>
        <mapping class="com.example.userservice.domain.Tripinvoice"/>
        <mapping class="com.example.userservice.domain.User"/>
        <mapping class="com.example.userservice.domain.UserRole"/>
        <mapping class="com.example.userservice.domain.Userbankaccount"/>
        <mapping class="com.example.userservice.domain.Userconnection"/>
        <mapping class="com.example.userservice.domain.Usergroup"/>
        <mapping class="com.example.userservice.domain.Vehicle"/>
        <mapping class="com.example.userservice.domain.Verificationcount"/>
        <mapping class="com.example.userservice.domain.Version"/>
        <mapping class="com.example.userservice.domain.Waypoint"/>
        <mapping class="com.example.userservice.domain.Weeklydriversummary"/>
        <mapping class="com.example.userservice.domain.Weeknumber"/>
        <!-- <property name="connection.username"/> -->
        <!-- <property name="connection.password"/> -->

        <!-- DB schema will be updated if needed -->
        <!-- <property name="hibernate.hbm2ddl.auto">update</property> -->
    </session-factory>
</hibernate-configuration>