
h2{
    color: blue;
  
}


.container-info-register-passenger{
   min-height: 700px;

}


.container-right-info{
    text-align: left;
    width: 70%;
    /* margin-left: 10%; */
    /* margin-top: 5%; */
  
}

.btn-register{
    margin-left: 34%;
    width: 170px;
}
