.card-home-a{
    text-align: center;
    /* width: 80%; */
    margin: 4% 5%;
    height: 180px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
    margin-left: 5%;
}
/* .home-content-b{
    margin-top: 5%;
} */

.header-card-home{
    padding-top: 20px;
    
}
.number-home{
    font-size: 50px;
    color: brown;
}
.content-card-home{
    margin-bottom: 10px;
    padding-bottom: 10px;
}