.header-home{
    padding-top: 20px;
    padding-bottom: 20px;
    background: #fff;
}

.login-header{
    float: right;
    margin-right: 5%;
}
.login-header-logo{
  float: left;
  margin:5px 5%;
  height: 35px;
  padding: 0;
}

.image-logo{
  height: 100%;
}














.btn-header {
  appearance: none;
  background-color: transparent;
  border: 2px solid blue;
  border-radius: 15px;
  box-sizing: border-box;
  color: #2a0762;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  /* min-height: 60px; */
  min-width: 0;
  outline: none;
  padding: 14px 22px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 160px;
  will-change: transform;
}

.btn-header:disabled {
  pointer-events: none;
}

.btn-header:hover {
  color: #fff;
  background-color: #0f2a96;
  box-shadow: rgba(33, 48, 156, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.btn-header:active {
  box-shadow: none;
  transform: translateY(0);
}