.container-register{
    margin-top: 6%;
}

.cards{
    text-align: center;
    display: flex;
    justify-content: center;
}

.btn-regiter-home{
    width: 300px;
    margin-top: 20px;
    height: 40px;
}

