.home-content{
    /* margin:20px 12%; */
    /* min-height: 1000px; */
}

.home-content-a{
      margin:20px 6%;
    padding: 0;
    background: #fff;;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
.home-content-table{

    background: #fff;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
.home-table-header{
    margin-top: 30px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    background: #fff;
}
.text-home{
    margin: 20px 10px;
    font-size: 40px;
    text-align: center;
    color: black;
}