.list-passenger{
    border-style: solid;
    border-color: hsl(0, 0%, 73%);
    width: 100%; 
    padding: 10px;
    margin-top: 20px;
}
.status{
    float: right;
    color: blue;
}
.content-list{
    margin-top: 10px;
}
.scroll-bg{
    width: 500px;
    /* margin: 10% auto; */
}
.scroll-div{
    width: 500px;
    height: 300px;
    overflow: hidden;
    overflow-y: scroll;
}
.scroll-object{
    padding: 10px;
}