.doc-taixe{
    width: 80%;
}
.form-header-ad{
    margin-top: 30px;
    background-color: bisque;
    font-size: large;
}
.form-header1{
    margin-top: 30px;
    background-color: bisque;
    font-size: large;
    /* height: 35px; */
}
.form-content-ad{
    border-style: solid;
    border-top-style: none;
    border-color: hsl(0, 0%, 73%); 
   padding: 20px;

}
.status-ad{
    color: red;
    float: right;
    margin-right: 10px;
}
.card-doc{
    margin: 5px;
}
.form-bottom-ad{
    text-align: center;
}
.avatar{
    text-align: center;
}